@model List<ViewModels.StatsViewModel>
@using PagedList
@using PagedList.Mvc;
@{
    ViewBag.Title = "آمار بازدید";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
} 

@{
    var pger = (IPagedList)ViewBag.Pager;
    var curpage = pger.PageCount < pger.PageNumber ? 0 : pger.PageNumber;
    var total = pger.PageCount;
    var offercount = pger.TotalItemCount;
}


<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("میز کار", "index", "index")
            </li>
            <li class="active">
                آمار بازدید
            </li>
        </ol>

        <div id="sticky-anchor"></div>
        <div class="tobesticky" id="sticky">
            
            <h4 class="page-title">آمار بازدید</h4>
        </div>

    </div>
</div>




<div class="row">
    <div class="col-lg-12">
        <div class="portlet">
            <!-- /primary heading -->
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark"> نمودار یک ماه گذشته  </h3>

                <div class="clearfix"></div>
            </div>
            <div id="portlet5" class="panel-collapse collapse in">
                <div class="portlet-body">

                    <div id="morris-area-with-dotted" style="height: 245px;"></div>
                </div>
            </div>
        </div>
        <!-- /Portlet -->
    </div>

    @foreach (var item in Model)
    {

        <div class="col-sm-2">
            <div class="card-box widget-box-1 bg-white">

                <h4 class="text-center">@(item.Day)</h4>
                <h2 class="text-primary  text-center"><span data-plugin="counterup">@item.Count</span></h2>
            </div>
        </div>
    }
    <div class="clearfix clear"></div>
    @if (total > 1)
            {
        <div class="text-left mb-10">


            <div class="info-pagination" id="contentPager">
                @Html.PagedListPager(pger, page => Url.Action("index", "stat", new
               {
                   page = page
               }),
                    new PagedListRenderOptions { LinkToPreviousPageFormat = "<i class='fa fa-chevron-right'></i>", LinkToNextPageFormat = "<i class='fa fa-chevron-left'></i>", UlElementClasses = new List<string> { "pagination" } })
                 
            </div>
        </div>
    }


</div>
 




@section scripts{
    <script>
        var resizefunc = [];
    </script>

    <!--Morris Chart-->
    <script src="~/areas/admin/content/plugins/morris/morris.min.js"></script>
    <script src="~/areas/admin/content/plugins/raphael/raphael-min.js"></script>


    <script>


        !function ($) {
            "use strict";

            var MorrisCharts = function () { };


            //creates area chart with dotted
            MorrisCharts.prototype.createAreaChartDotted = function (element, pointSize, lineWidth, data, xkey, ykeys, labels, Pfillcolor, Pstockcolor, lineColors) {
                Morris.Area({
                    element: element,
                    pointSize: 5,
                    lineWidth: 3,
                    data: data,
                    xkey: xkey,
                    ykeys: ykeys,
                    labels: labels,
                    hideHover: 'auto',
                    pointFillColors: Pfillcolor,
                    pointStrokeColors: Pstockcolor,
                    resize: true,
                    gridLineColor: '#eef0f2',
                    lineColors: lineColors
                });
            },
            MorrisCharts.prototype.init = function () {

                //creating area chart with dotted
                var $areaDotData = [
                    @{
                <text>@Html.Raw(Utilities.Functions.GetViewStat(30))</text>
            }
                ];
                this.createAreaChartDotted('morris-area-with-dotted', 0, 0, $areaDotData, 'y', ['a'], ['بازدید'], ['#ffffff'], ['#999999'], ['#5d9cec']);

            },
            //init
            $.MorrisCharts = new MorrisCharts, $.MorrisCharts.Constructor = MorrisCharts
        }(window.jQuery),

        //initializing
        function ($) {
            "use strict";
            $.MorrisCharts.init();
        }(window.jQuery);
    </script>


}





