@model List<DataLayer.SettingValue>
@{
    ViewBag.Title = "محتوای تنظیمات";
}



<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("میز کار", "index", "index")
            </li>
            <li>
                @Html.ActionLink("مدیریت سیستم", "index", "sysadmin")
            </li>
            <li class="active">
                محتوای تنظیمات
            </li>
        </ol>

        <div id="sticky-anchor"></div>
        <div class="tobesticky" id="sticky"> 
            <h4 class="page-title">محتوای تنظیمات</h4>
        </div>

    </div>
</div>
        
 

<div class="card-box  ">

    <input type="text" id="searchInput" class="form-control ltr" style="border-radius:0" placeholder="Search Here...">

    <table class="table table-striped table-bordered ltr" id="SearchTable">
        <tr>
            <th class="text-center" width="60">
                <label>ID</label>
            </th>
            <th class="text-center" width="50">
                <label>Load</label>
            </th>
            <th class="text-center" width="150">
                <label>Name Fa</label>
            </th>
            <th class="text-center" width="250">
                <label>Name</label>

            </th>
            <th class="text-center">
                <label>Value</label>
            </th>
        </tr>

     <tbody>
         @foreach (var item in Model)
         {
             <tr>
                 <td class="text-center">
                     @Html.DisplayFor(modelItem => item.ID)
                 </td>
                 <td style="font-size:18px;text-align:center;">
                     @Html.Raw(item.LoadAtFirst ? "<i class='fa fa-check'></i>" : "<i class='fa fa-times'></i>")

                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.NameFa)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     <span class="edit" data-id="@item.ID" data-name="@item.Name" data-namefa="@item.NameFa" data-load="@item.LoadAtFirst"><i class="fa fa-edit"></i></span>
                     @Utilities.Functions.SubStringHtml(item.Value, 0, 200)
                 </td>
             </tr>
         }

     </tbody>
    </table>
</div>


<div class="card-box  " id="divToBeScrolledTo">

    <form method="post" action="/admin/sysadmin/settingValue">
        <div class="form-group">
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {<text>
                <div class="alert alert-info">
                    @ViewBag.Message
                </div>
            </text>
            }

            <label class="control-label col-md-2">اضافه / ویرایش</label>
            <div class="col-md-10">
                <input id="id" name="id" placeholder="ID" type="text" class="form-control inline ltr" style="width:80px" />
                <img src="~/Areas/Admin/Content/images/sp-loading.gif" id="imgload" style="display:none" />
                <span style="font-size:11px; color:#808080">0 یا خالی برای موقع افزودن</span>

                <br />
                <input id="title" name="title" placeholder="Name" type="text" class="form-control inline ltr m-t-10" style="width:250px" /><br />

                <input id="titleFa" name="titleFa" placeholder="NameFa - نام فارسی" type="text" class="form-control inline  m-t-10" style="width:250px" /><br />
                <textarea id="value" placeholder="Value" cols="5" name="value" class="form-control m-t-10 ltr"></textarea>
                <input type="checkbox" name="loadatfirst" id="loadatfirst" value="Yes"> <label for="coded">لود شدن در سینگلتون (LoadAtFirst)</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="coded" value="EnCode"> <label for="coded">کد شده (فقط موقع افزودن)</label>
                <br />
                <input value="ذخیره" type="submit" class="btn btn-success m-t-10" />
            </div>

        </div>
        <div class="clearfix"></div>
    </form>
</div>

<style>
    .edit{
        cursor:pointer;font-size:16px;
    vertical-align: middle;
    margin-right:10px;
    }
</style>
@section scripts{
    <script>
        $(function () {
            
            $(".edit").click(function () {
                $("#id").val($(this).data("id"));
                $("#titleFa").val($(this).data("namefa"));
                $("#title").val($(this).data("name"));
                if ($(this).data("load") == "True")
                    $("#loadatfirst").prop("checked", true);
                $('html,body').animate({
                    scrollTop: $("#divToBeScrolledTo").offset().top
                });
                $("#imgload").show();
                $(".alert").hide();

                $.ajax({
                    url: '@Url.Action("getSettingValue","sysadmin")',
                    data: { "id": $(this).data("id") },
                    dataType: "json",
                    type: "POST",
                    success: function (result) {
                        $("#value").val(result);

                        $("#imgload").hide();
                    },
                    error: function (request, status, error) {
                        alert("Ajax Failure. " + error);
                    }


                })

            });

        });

    </script>
    

<script> 
$(document).ready(function () {
    $("#searchInput").on("keyup", function (e) {
        if (e.key === "Escape") { // escape key maps to keycode `27`
            $(this).val("");
            return;
        }
        var value = $(this).val().toLowerCase();
        $("#SearchTable tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
    }