@model ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "بازنشانی رمز ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pt-60 pb-50 bg-light botrdertop">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
               
                    <h4 class="text-center text-dark">بازنشانی رمز ورود</h4>
                

                <div class="well bg-white">


                    @using (Html.BeginForm("ResetPassword", "Index", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary("", new { @class = "text-danger" }).ToHtmlString()))

                        @Html.HiddenFor(model => model.Code)
                       
                        <div class="form-group">
                            <label class="col-md-4 control-label">ایمیل</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control ltr" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "label label-warning" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">رمز ورود جدید</label>

                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">تکرار رمز ورود</label>

                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ltr" })
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-info">بازنشانی</button>
                            </div>
                        </div>
                    }

                  
                </div>

            </div>



        </div>
    </div>
</section>









@section scripts
{
    @System.Web.Optimization.Scripts.Render("~/jqueryval")
<script>
    $(function () {
        $("#UserName").bind("input propertychange", function (evt) {
            // If it's the propertychange event, make sure it's the value that changed.
            if (window.event && event.type == "propertychange" && event.propertyName != "value")
                return;
            // Clear any previously set timer before setting a fresh one
            $("#imgloadusername").hide();
            $("#UserName").removeClass("validborder").removeClass("invalidborder");
            $("#UserName").attr('title', '').tooltip('destroy');

            window.clearTimeout($(this).data("timeout"));
            $(this).data("timeout", setTimeout(function () {
                var username = $("#UserName").val();
                if (username && username.length >= 3 && !$("#UserName").hasClass("input-validation-error"))
                {
                    $("#imgloadusername").show();
                        
                    $.ajax({
                        url: '@Url.Action("CheckUserName","Index")',
                        data: { "username": username },
                        dataType: "json",
                        type: "POST",
                        success: function (result) {
                            if(result=="1")
                            {
                                $("#UserName").addClass("validborder");
                            }
                            else {
                                $("#UserName").addClass("invalidborder");
                                $("#UserName").attr('title', 'نام کاربری تکراری است.').tooltip('fixTitle').tooltip('show');
                                
                            }
                            $("#imgloadusername").hide();
                        },
                        error: function (request, status, error) {
                            $("#imgloadusername").hide();
                        }

                    });

                }
                
               

            }, 1500));
        });
    });
    </script>
}