@model ViewModels.ProductGroupDetailUiViewModel
@using Westwind.Globalization;
@{
    ViewBag.Title = Model.SeoTitle;
}

@section head{


    <meta name="description" content="@Model.SeoDescription" />
    <meta name="keywords" content="@Model.SeoKeywords" />
    <meta name="Title" content="@Model.SeoTitle" />
    <meta itemprop="name" content="@Model.SeoTitle">
    <meta itemprop="description" content="@Model.SeoDescription">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:image:src" content="@Model.Pic">
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="@Model.SeoDescription" />

}



<br /><br />
<section id="portfolio" class="section p-b-20px">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <div class="section-title text-center m-b-80px">
                    <h3>@Model.FullTitle </h3>

                </div>
            </div>
        </div>
    </div>

   @if (Model.ID == 0)
   {
    <div class="portfolio-filter m-b-15px">
        <ul class="filter text-center">
            <li class="active" data-filter="*">@DbRes.T("Projects.AllText", "txt")</li>
            @foreach (var item in (Dictionary < string, string> )ViewBag.Cats)
            {
                <li data-filter=".@item.Value">@item.Key</li>

            } 
        </ul>
    </div> 
   }

    <div class=" min-300">


        @Html.Action("GroupProducts", "project", new { groupID = Model.ID })


    </div>



    <style>
        /* Defaults */
body {
  background: #f9f9f9;
  color: #465665;
}

a {
  color: #5b7083;
  transition: all .25s ease-in-out;
}

/* The title */
.title {
  font-weight: 700;
}

/* The description */
.desc {
  font-size: 1em;
  font-style: italic;
  font-family: Georgia, serif;
}

/* Text-centering */
.title,
.desc,
.intro {
  text-align: center;
}

/* Intro section */
.intro {
  margin: 1.75em 0 .75em;
  border-bottom: 3px double rgba(0, 0, 0, 0.05);
  margin-bottom: 1.75em;
}

.intro a {
  opacity: .7;
}

.intro a:hover {
  opacity: 1;
}

.intro h3 {
  font-size: .825em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  margin: .25em .75em .75em;
}

.intro h3 a {
  font-weight: 400;
}

/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;
}

.masonry.bordered .brick {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;
}

.masonry.gutterless .brick {
  margin-bottom: 0;
}

/* Masonry on tablets */
@@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}
    </style>

</section>


